.posts-container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

.example-card {
  width: 400px;
  margin: 30px;
}

mat-card {
  border: 1px solid grey;
  margin: 10px;
}

mat-card img {
  max-height: 300px;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
}

#delete-post {
  border: 1px solid grey;
  text-align: center;
  height: 20px;
  width: 60px;
  padding: 10px 15px;
  background-color: rgb(255, 44, 44);
  color: aliceblue;
  text-decoration: none;
  border-radius: 5px;
  outline: none;
  font-weight: 500;
  font-size: 18px;
}

#delete-post:hover {
  color: black;
  font-weight: 500;
  transition: all 0.5s;
}

#edit-post {
  border: 1px solid grey;
  text-align: center;
  width: 60px;
  height: 20px;
  padding: 10px 15px;
  background-color: rgb(185, 197, 75);
  color: aliceblue;
  text-decoration: none;
  border-radius: 5px;
  outline: none;
  font-weight: 500;
  font-size: 18px;
}

#edit-post:hover {
  color: black;
  font-weight: 500;
  transition: all 0.5s;
}
