<!-- <app-admin-header></app-admin-header> -->
<!-- <app-admin-dashboard></app-admin-dashboard> -->
<app-header-panel></app-header-panel>
<!-- <div id="wrapper">
  <nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav" id="main-menu">
        <li class="active-link">
          <a routerLink="dashboard" routerLinkActive="active"><i class="fa fa-desktop"></i>Dashboard</a>
        </li>

        <li>
          <a routerLink="preview-users" routerLinkActive="active"><i class="fa fa-table"></i>Preview User</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- <app-dashboard></app-dashboard> -->

<!-- <div id="page-wrapper">
    <div id="page-inner">
    </div>
  </div>
</div> -->
<!-- <div id="omotac">
  <div id="omotac2">
  </div>
</div> -->
<router-outlet></router-outlet>
